<div container_xl >
  <input hidden_input type="checkbox" id="yearly_monthly">
  <h1 title_xl>Subscription Plans</h1>

      
  <section id="rect-flip">
    <div switch_button >
      <div cover_button >

        <div flip_button role="switch" aria-checked="true">
          <label for="yearly_monthly">
            <div data-yes="Month" data-no="Year" class="knobs">
              <span>
              </span>
            </div>
          </label>  
            <label switch_year_month for="yearly_monthly">
            </label>
        </div>
      </div>
    </div>
  </section>

  <!-- Montly prices -->
  <div montly_pack id="month_container">
    <div plan_container>
      {% if subscriptions.monthly %}

        {% include "chunks/subs_monthly_a.html" %}
        
        {% include "chunks/subs_monthly_b.html" %}

        {% include "chunks/subs_monthly_c.html" %}

      {%endif%}
      
                
    </div>
  </div>


  <!-- Yearly subscript -->
  <div yearly_pack id="year_container">
    <div plan_container>
      {% if subscriptions.yearly %}
      
        {% include "chunks/subs_yearly_a.html" %}
        
        {% include "chunks/subs_yearly_b.html" %}
        
        {% include "chunks/subs_yearly_c.html" %}
      
      {%endif%}

    </div>

  </div>
</div>
