$visible_delay: 0s
$visible_duration: 1s

$hidden_delay: 0s  
$hidden_duration: 1s

.perks_container
  height: 50%
  transition: border-bottom 0.3s

.yearly_montly_container
  margin-top: 20px

.menu__visible
  @extend .animated
  display: block  
  animation-delay: $visible_delay
  -webkit-animation-delay: $visible_delay
  -moz-animation-delay: $visible_delay
  
  animation-duration: $visible_duration	
  -webkit-animation-duration: $visible_duration
  -moz-animation-duration: $visible_duration

  animation-timing-function: ease-out
  -webkit-animation-timing-function: ease-out
  -moz-animation-timing-function: ease-out


.menu__hidden
  @extend .animated  
  display: none
  
  animation-delay: $hidden_delay
  -webkit-animation-delay: $hidden_delay
  -moz-animation-delay: $hidden_delay
  
  animation-duration: $hidden_duration	
  -webkit-animation-duration: $hidden_duration
  -moz-animation-duration: $hidden_duration

  animation-timing-function: ease-out
  -webkit-animation-timing-function: ease-out
  -moz-animation-timing-function: ease-out




.subscription__card
  border-radius: .25rem
  width: 20%
  margin-right: 15px
  margin-left: 15px
  transition: all 0.3s  //for the scale delay
  -webkit-transition: all 0.3s //for the scale delay
  -moz-transition: all 0.3s //for the scale delay

  &:hover  
    z-index: 10
    transform: scale(1.23)
    
    .perks_container
      border-bottom: 1px solid #dddddd

  .subscription_header
    .subscription_plan
      margin-top: 40px
  

  .subscription__button
    display: inline-block
    font-weight: bold
    border-radius: 0.25rem
    padding: 0.5rem 1rem 0.5rem 1rem

.custom__yellow__dark
  background-color: #e2c322


  