<div class="w-full flex flex-wrap p-2 text-center justify-center content-center px-2 py-2">
  
  <h1 class="w-full text-5xl text-white">Subscription Sign up Form</h1>

  <div class="subscription__card overflow-hidden rounded mx-2 my-2 ">
    <div class="text-white custom__yellow__dark py-5 px-2 ">
      <h2 class="text-4xl">Basic</h2>
    </div>
    <div class="px-2 py-2 bg-yellow-dark text-white" >
      <h2 class="" >{{ BASIC_PRICE }}$</h2>
      <h3 class="">per month</h3>    
    </div>
    <div class="bg-white">
      <div class="py-4">
        {% for name in basic_perks %}
          <p class="py-3 px-2">{{ name | safe }}</p>  

        {% endfor %}                
      </div>
      <div class="py-2 px-2 flex justify-center ">
        <a href="#" for="input-subscription-modal" class="text-white subscription__button bg-yellow-dark hover:text-black ">
          Sign up
        </a>
      </div>
    </div>

  </div>


  <div class="subscription__card overflow-hidden rounded mx-2 my-2">
    <div class="text-white bg-pink-darker py-5 px-2 ">
      <h2 class="text-4xl">Standard</h2>
    </div>
    <div class="px-2 py-2 bg-pink-dark text-white">
      <h2 class="">{{ STANDARD_PRICE }}$</h2>
      <h3 class="">per month</h3>
    </div>
    <div class="bg-white">
      <div class="py-4">
        {% for name in standard_perks %}
          <p class="py-3 px-2">{{ name | safe }}</p>  

        {% endfor %}
    
      </div>
      <div class="py-2 px-2 flex justify-center ">
        <a href="#" for="input-subscription-modal" class="text-white subscription__button bg-pink-dark hover:text-black ">
          Sign up
        </a>
      </div>
    </div>

  </div>

  <div class="subscription__card overflow-hidden rounded mx-2 my-2">  
    <div class="text-white bg-teal-darker py-5 px-2 ">
      <h2 class="text-4xl">Premium</h2>
    </div>
    <div class="px-2 py-2 bg-teal-dark text-white">
      <h2 class="">{{ PREMIUM_PRICE }}$</h2>
      <h3 class="">per month</h3>
    </div>
    <div class="bg-white">
      <div class="py-4">
        {% for name in premium_perks %}
          <p class="py-3 px-2">{{ name | safe }}</p>  

        {% endfor %}
    
      </div>
      <div class="py-2 px-2 flex justify-center ">
        <a href="#" for="input-subscription-modal" class="text-white subscription__button bg-teal-dark hover:text-black ">
          Sign up
        </a>
      </div>
    </div>
  </div>

</div>
