<div container_xl>

  <h1 title_xl>Subscription Sign up Form</h1>

  <div subscription_container>
    <div yellow_header>
      <h2 big_text>Basic</h2>
    </div>
    <div yellow_body >
      <h2  >{{ BASIC_PRICE }}$</h2>
      <h3 >per month</h3>    
    </div>
    <div white_bg>
      <div padding_y>
        {% for name in basic_perks %}
          <p padding_x_y>{{ name | safe }}</p>  

        {% endfor %}                
      </div>
      <div subscription_footer>
        <a yellow_button href="#" for="input-subscription-modal">
          Sign up
        </a>
      </div>
    </div>

  </div>


  <div subscription_container>
    <div pink_header>
      <h2 big_text>Standard</h2>
    </div>
    <div pink_body>
      <h2 >{{ STANDARD_PRICE }}$</h2>
      <h3 >per month</h3>
    </div>
    <div white_bg>
      <div padding_y>
        {% for name in standard_perks %}
          <p padding_x_y>{{ name | safe }}</p>  

        {% endfor %}
    
      </div>
      <div subscription_footer>
        <a pink_button href="#" for="input-subscription-modal" >
          Sign up
        </a>
      </div>
    </div>

  </div>

  <div subscription_container>  
    <div teal_header>
      <h2 big_text>Premium</h2>
    </div>
    <div teal_body>
      <h2 >{{ PREMIUM_PRICE }}$</h2>
      <h3 >per month</h3>
    </div>
    <div white_bg>
      <div padding_y>
        {% for name in premium_perks %}
          <p padding_x_y>{{ name | safe }}</p>  

        {% endfor %}
    
      </div>
      <div subscription_footer>
        <a teal_button href="#" for="input-subscription-modal" >
          Sign up
        </a>
      </div>
    </div>
  </div>

</div>
